@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000;
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
